header{
    background-color: #787878;
}

.navbar-brand{
    font-family: Georgia, serif;
    font-size: 35px;
    color: #FFFFFF;
}

.Name{
    font-family: 'ABeeZee';
    font-size: 40px;
    padding-top: 12px
}  

.nav-item{
    color: black;
    background-color: #6e6e6e;
}

.nav-link{
    color: #FFFFFF
}

{
    background-color: black;
    color: black;
}

body{
    margin: 0px;
}

.text{
    position: relative;
    left: 5px;
}

.text2{
    text-align: center;
}

.menu-cards{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

h1, h2, h3{
    font-family: 'Aref Ruqaa';
    text-align: center;
}